:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Palette */
  --color-lightest: #eee2df;
  --color-light: #eed7c5;
  --color-medium: #c89f9c;
  --color-accent: #c97c5d;
  --color-dark: #b36a5e;
  --color-bg-main: #f9f4f2;

  color: var(--color-dark);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-accent);
  color: var(--color-lightest);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-medium);
}


